/* .nav a {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.nav a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #b9ff66;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.nav a:hover::before {
  transform: scaleX(1);
} */

.link::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #b9ff66;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 0;
}
.link:hover::before {
  transform: scaleX(1);
}
/* .link {
  position: relative;
  overflow: hidden;
  z-index: 10;
  color: #191a23;
  text-decoration: none; 
} */
