.bg-fill::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #b9ff66;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease-out;
  z-index: 0;
}
/* .bg-fill::before {
  transform: scaleX(1);
} */
.bg-fill.active::before {
  transform: scaleY(1);
}
